**
!Dockerfile
!requirements.txt
!main.py
!config.py
!dataset/
!dataset/**
!evaluation/
!evaluation/**
!neural_methods/
!neural_methods/**
!unsupervised_methods/
!unsupervised_methods/**
!tools/
!tools/**
!configs/
!configs/**
!docker/
!docker/configs/
!docker/configs/**
**/.git
**/__pycache__
**/*.pyc
**/.env
**/.env.*