DATA_ROOT=./data
CHECKPOINT_ROOT=./final_model_release
CACHE_PATH=./preprocessed_data
RUNS_PATH=./runs
GPU_DEVICE_ID=0
DOCKER_SHM_SIZE=8gb
CONFIG_FILE=/opt/vhrm2/configs/train/UBFC-rPPG_DATASET2_DeepPhys.docker.yaml
TOOLBOX_IMAGE=vhrm2-rppg:toolbox-cu124